@(emp: Employee, associations: List[ProjectEmployee])

@main("Employee")("")("")("active")("") {

<h1>@emp.name (@emp.id)</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Projekte</h3>
  </div>
  <div class="panel-body">
  	<ul>
  	@for(asso <- associations) { 
  		<li> <a href="/projects/@asso.project.id"> @asso.project.name</a> @if(asso.startDate == null) {?} else {@asso.startDate.format("dd.MM.yyyy")}-@if(asso.endDate == null) {?} else {@asso.endDate.format("dd.MM.yyyy")}</li>
  	}
	</ul>
  </div>
</div>

}
