@(project: Project)

@main("Projekt")("")("active")("")("") {

<h1>@project.name @if(project.active) {(active)} else {(inactive)}</h1>
<a type="button" class="btn btn-warning" href="/projects/@project.id/edit" style="margin-bottom:10px">Edit</a>
<a type="button" class="btn btn-danger" href="/projects" onclick="del('/projects/@project.id')" style="margin-bottom:10px">Delete</a>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Description</h3>
  </div>
  <div class="panel-body">
  	@project.description
  </div>
  <div class="panel-footer">
  	<a href="employee/2"> Christian Oberschulte (Principal)</a> <br>
  	<a href="@project.wikiLink">Wiki</a>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Employee</h3>
  </div>
  <div class="panel-body">
  	<ul>
  		<li> <a href="/employee/1"> Hendrik Hagmans</a> 01.09.2009-?</li>
		<li> <a href="/employee/2"> Christian Oberschulte</a> 12.02.2013-?</li>
	</ul>
  </div>
</div>

}
