@main("Umweltbundesamt ICS")("")("active")("")("") {

<h1>Umweltbundesamt ICS (active)</h1>
<a type="button" class="btn btn-warning" href="/projects/1/edit" style="margin-bottom:10px">Edit</a>
<a type="button" class="btn btn-danger" href="/projects/1/delete" style="margin-bottom:10px">Delete</a>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Description</h3>
  </div>
  <div class="panel-body">
  	Internes Werkzeug für die Bearbeitung von Zulassungsverfahren in mehreren Vollzügen
	2 Zusatzaufträge 2010 sind abgeschlossen. Im Zusatzauftrag 1 wurde iQvoc generalisiert und als Spezieskatalog konfiguriert
	1 Zusatzauftrag (Sharepoint Sichten) in 2011 abgeschlossen

    Konferenzbeiträge:* „Dynamic Data Structures for Chemical and Biological Safety” EnviroInfo 2010
    „Building a Sustainable Information System in the Domain of Chemical and Biological Safety” EnviroInfo 2011
    “Integrating Workflow and Document Management with Domain Applications by Using MS Sharepoint 2010 with REST Interfaces” EnviroInfo 2011  
  </div>
  <div class="panel-footer">
  	<a href="employee/2"> Christian Oberschulte (Principal)</a> <br>
  	<a href="https://wiki.innoq.com/pages/viewpage.action?pageId=10652524">Wiki</a>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Employee</h3>
  </div>
  <div class="panel-body">
  	<ul>
  		<li> <a href="/employee/1"> Hendrik Hagmans</a> 01.09.2009-?</li>
		<li> <a href="/employee/2"> Christian Oberschulte</a> 12.02.2013-?</li>
	</ul>
  </div>
</div>

}
