@(project: Project, associations: List[Project_Employee])

@main("Projekt")("")("active")("")("") {

<h1>@project.name @if(project.active) {(active)} else {(inactive)}</h1>
<a type="button" class="btn btn-warning" href="/projects/@project.id/edit" style="margin-bottom:10px">Edit</a>
<a type="button" class="btn btn-danger" href="/projects" onclick="del('/projects/@project.id')" style="margin-bottom:10px">Delete</a>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Description</h3>
  </div>
  <div class="panel-body">
  	@project.description
  </div>
  <div class="panel-footer">
  @if(project.principalConsultant != null) {
  	<a href="/employee/@project.principalConsultant.id"> @project.principalConsultant.name (Principal)</a> <br>
  	} else { Kein Principal gewählt <br>}
  	<a href="@project.wikiLink">Wiki</a>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Employees</h3>
  </div>
  <div class="panel-body">
  	<ul>
  		@for(asso <- associations) { 
  		<li> <a href="/employee/@asso.getEmployee.id"> @asso.getEmployee().name</a> @asso.startDate.format("dd.MM.yyyy")-@asso.endDate.format("dd.MM.yyyy")</li>
		 	}
	</ul>
  </div>
</div>

}
