@(project: Project, allEmps: List[Employee], message: String)

@main("Add Employee")("")("active")("")("") {

<h1>@project.name</h1>

<h2>@message</h2>
  @helper.form(action=routes.ProjectController.projectEditAddEmployeeSave(project.id)){
  <div class="panel panel-default">
  <div class="panel-heading">Add Employee</div>
	  <div class="panel-body">
	  
  	  <label for="employeeGroup">Current Employees</label>
	  <ul class="list-group" id="employeeGroup">
	  @for(emp <- project.getEmployees()) { 
	    <li class="list-group-item list-group-item-info">@emp.name (@emp.id)</li>
	    }
	  </ul>
	  
	  <form role="form">
		  <label for="newEmployeeInput"> New Employee</label>
		  <select class="form-control" id="newEmployeeInput" name ="newEmp">
		  @for(emp <- allEmps) { 
		 	<option>@emp.name (@emp.id)</option>
		 	}
		  </select>
		  
		  <label for="startDateInput">Startdate</label>
		  <input type="text" class="form-control" id="startDateInput" name="startdate">
		  
		  <label for="endDateInput">Enddate</label>
		  <input type="text" class="form-control" id="endDateInput" name ="enddate">
	 
	  	  <button type="submit" class="btn btn-success" href="/projects/@project.id/addemployee" style="margin-top:10px">Save</button>
	  	  <a type="button" class="btn btn-primary" href="/projects/@project.id/edit" style="margin-top:10px">Back</a>
		
	  </form>
	  }
		</div>
	</div>



}
