@(project: Project, message: String)

@main("Edit Project")("")("active")("")("") {

<h1>@project.name</h1>

<h2>@message</h2>
@helper.form(action=routes.ProjectController.projectEditSave(project.id)){
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Project</h3>
  </div>
  <div class="panel-body">
	  <div class="form-group">
	    <label for="nameInput">Name</label>
	    <input type="text" class="form-control" id="nameInput" value="@project.name" name="name">
	  </div>
	  
	  <div class="form-group">
	    <label for="descriptionInput">Description</label>
	    <textarea class="form-control" id="descriptionInput" rows="5" name="description">@project.description</textarea>
	  </div>
	  
	  <div class="form-group">
	    <label for="wikiInput">Wikilink</label>
	    <input type="text" class="form-control" id="wikiInput" value="@project.wikiLink" name="wiki">
	  </div>
	  
	  <div class="form-group">
	    <label for="startDateInput">Startdate</label>
	    <input type="text" class="form-control" id="startDateInput" value="@project.startDate.format("MM/dd/yyyy")" name="startdate">
	  </div>
	  
	  <div class="form-group">
	    <label for="endDateInput">Enddate</label>
	    <input type="text" class="form-control" id="endDateInput" value="@project.endDate.format("MM/dd/yyyy")" name="enddate">
	  </div>
	  
	  <div class="form-group">
	  	<label for="principalInput">Principal</label>
		<select class="form-control" id="newEmployeeInput" name="principal">
		<option value="">Select new Principal</option>
 		@for(emp <- project.getEmployees()) { 
 			<option>@emp.name (@emp.id)</option> 
 		} 
		</select>
	  </div>
	  
	  <div class="checkbox">
	    <label>
	      <input type="checkbox" name="active" @if(project.active) {checked="checked"} else {}> Active
	    </label>
	  </div>
	  
	
	  <button type="submit" class="btn btn-success" href="/projects/@project.id/save">Save</button>
	  <a type="button" class="btn btn-primary" href="/projects/@project.id">Back</a>
	}
  </div>
</div>

@helper.form(action=routes.ProjectController.projectEditEditEmployee(project.id)){

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Employees</h3>
  </div>
  <div class="panel-body">
	
	<select class="form-control" id="newEmployeeInput" name="selectedEmp">
	 	@for(emp <- project.getEmployees()) { 
 			<option>@emp.name (@emp.id)</option> 
 		} 
	</select>
	
	  <button type="submit" class="btn btn-warning" href="/projects/@project.id/editemployee" style="margin-top:10px">Edit Selected Employee in Project</button> <br>	  
	  }
	  <a type="button" class="btn btn-primary" href="/projects/@project.id/addemployee" style="margin-top:10px">Add Employee to Project</a>
	
	</div>
</div>

}
